h2{
  text-align: center;
  margin-bottom: 1rem;
}

form{
  width: min(400px, 100%);
  padding: .5rem;
  border: thin solid grey;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: 8px;
  input, textarea{
    padding: inherit;
    border-radius: inherit;
    border: inherit;
  }
  textarea{
    resize: none;
  }

  button{
    align-self: center;
    padding: .5rem 2rem;
    font-size: 1.1rem;
  }
}

.ng-valid, .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid{
  border-left: 5px solid #a94442;
}

.ng-pristine{
  border-left: 5px solid #4942a9;
}

div.error{
  font-size: .8rem;
  color: #a94442;
}