* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #fff;
}

app-root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

main, .content {
	flex: 1;
}